<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="employee" class="com.training.employeedetail.Employee" />

<!--    <bean id="detail" class="com.training.employeedetail.EmployeeDetails">-->
<!--        <constructor-arg type="com.training.employeedetail.IEmployee" name="employee" ref="employee" />-->
<!--    </bean>-->
</beans>